.lightboxOverlay{
    position: fixed;
    z-index: 50;
    background-color: #000;
    filter: alpha(opacity = 20);
    moz-opacity: .2;
    opacity: .2;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 99;
}
.lightbox{
    position: absolute;
    top: 0px;
    left: 50%;
    width: 620px;
    margin: 60px 0px 0px -340px;
    padding: 30px;
    border: 3px solid rgba(102, 102, 102, .5);
    background-color: #fff;
    box-shadow: 0px 20px 30px rgba(0,0,0,.3);
    z-index: 100;
    
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.lightboxClose{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 13px;
    height: 13px;
    background: transparent url('../images/lightbox_close.png') no-repeat 0px 0px;
    outline: none;
}
.lightboxClose:hover{
    background-position: 0px -13px;
}
.lightboxData{
    font-size: 14px;
    width: 100%;
    margin: 0px;
}
.lightboxData th{
    text-align: left;
    padding: 0px;
}
.lightboxData th h1{
    font-size: 30px;
    letter-spacing: 0px;
}
.lightboxData .f{
    vertical-align: top;
    text-align: right;
    white-space: nowrap;
    width: 142px;
    padding: 7px 20px 10px 0px;
}
.lightboxData td{
    /*width: 310px;*/
    padding: 5px 0px;
}
.lightboxData td:nth-child(2){
    width: 300px;
}
.lightboxData td:nth-child(3){
    width: 169px;
}
.lightboxData.twoColumn td:nth-child(2){
    width: auto;
}
.lightboxData.twoColumn textarea{
    width: 364px;
    height: 110px;
}
.lightboxData .tutorBlLeft,
.lightboxData .tutorBlRight{
    background-color: #f7f6f2;
}
.lightboxData .tutorBlLeft{
    padding-top: 20px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.lightboxData .tutorBlRight{
    padding: 20px 0px;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.lightboxData .labelInline{
    margin: 0px;
}
.lightboxData label{
    font-size: 14px;
}
.lightboxData label input[type="radio"]{
    position: relative;
    top: -2px;
    margin-right: 3px;
}
.lightboxData label input[type="checkbox"]{
    position: relative;
    top: -1px;
    margin-right: 5px;
}
.lightboxData td input[type="text"]{
    line-height: 14px;
}
.lightboxData td input[type="text"], textarea{
    font-size: 14px;
    width: 282px;
    margin: -3px 0px 5px 0px;
}
.lightboxData td input[type="text"].w200, textarea.w200{
    width: 200px;
}
.lightboxData textarea{
    min-height: 46px;
}
.lightboxData select{
    width: 300px;
    margin-top: -2px;
}
.lightboxData select.w218{
    width: 218px;
    margin: 0px 0px 7px 0px;
}
.lightboxData textarea.w280{
    width: 280px;
}
.lightboxData .hintBlRight{
    width: 185px;
    padding: 0px 0px 0px 10px;
    vertical-align: top;
    padding-top:5px;
}
.lightboxData .hintBlRight p{
    font-size: 12px;
    color: #999;
    line-height: 16px;
    margin: 0px 20px 0px 10px;
}
.lightboxData .hintBlRightInline{
    padding-top: 7px;
}
.lightboxData .graySmall{
    font-weight: normal;
    line-height: 18px;
    margin: 20px 0px 10px 0px;
}
.lightboxData td .graySmall{
    font-size: 13px;
    margin: 0px;
}
.lightboxData .text{
    line-height: 20px;
    margin: 0px 0px 20px 0px;
}
.lightboxData .sepLine td{
    padding: 18px 0px 0px 0px;
    border-top: 1px dotted #c3c3c1;
}
.lightboxData .textPad td{
    padding: 10px 0px 2px 0px;
}
.lightboxSendLine{
    height: 7px;
    margin: 0px 6px;
    background: transparent url('../images/lightbox_send_line.png') repeat-x left top;
}
.lightboxData .lineGray td{
    background-color: #f5f5f2;
}
.lightboxData .lineBlue td{
    background-color: #f0f9fa;
}
.lightboxData .clt{
    -webkit-border-top-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    border-top-left-radius: 3px;
}
.lightboxData .crt{
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    border-top-right-radius: 3px;
}
.lightboxData .clb{
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-left-radius: 3px;
}
.lightboxData .crb{
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    border-bottom-right-radius: 3px;
}
.lightboxData h3{
    font-size: 18px;
    text-transform: none;
    margin-top: 23px;
}
.lightboxData .labelList li,
.lightboxData .labelList li label{
    margin-bottom: 4px;
}
.lightboxData .btn-info,
.lightboxData .btn-danger{
    text-transform: none;
}
.lightboxData .secGraySmall{
    font-size: 12px;
    line-height: 16px;
    color: #999;
    padding-top: 22px;
    margin: 0px 20px 0px 20px;
    background: transparent url('../images/ic_secure.png') no-repeat 40px 0px;
}
.lightboxData label.graySmall{
    margin: 5px 0px 18px 0px;
}
.lightboxData .sep{
    font-size: 13px;
    margin: 0px 0px 0px 17px;
}
.lightboxData .underline{
    font-size: 13px;
}
.inpDateBl .underlineDashed{
    font-size: 11px;
    margin-right: 5px;
}
.sepOr{
    position: relative;
    height: 1px;
    margin: 20px 0px 14px 0px;
    border-bottom: 1px dotted #ccc;
}
.sepOr div{
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -31px;
    padding: 0px 16px;
    background-color: #fff;
}
.lightbox .lightboxButtonBl{
    text-align: center;
}
.lightbox .lightboxGarantieBl{
    font-size: 13px;
    color: #999;
    margin: 40px -30px -30px -30px;
    padding: 30px 30px 30px 210px;
    background: #f5f5f5 url('../images/garantie_img.png') no-repeat 165px 28px;
}
.lightboxImage{
    padding-top: 210px;
}
.lightboxImage h2{
    line-height: 30px;
    margin: 15px 0px;
}
.lightboxImage .textGray{
    color: #666;
    font-size: 13px;
    line-height: 18px;
}
.lightboxTitleGray{
    margin: -30px -30px 0px -30px;
    padding: 30px 30px 20px 30px;
    background-color: #f5f5f3;
    border-bottom: 1px solid #e5e5e5;
}
.lightboxActionButton{
    padding-top: 30px;
}
.lightboxForm{
    width: 720px;
    margin-left: -390px;
}
.lightboxForm td{
    padding: 8px 0px 7px 0px;
}
.lightboxForm td:nth-child(3){
    width: 112px;
}
.lightboxForm h3{
    margin-top: 0px;
    margin-bottom: 10px;
}
.lightboxForm .f{
    text-align: left;
    width: 130px;
    padding-top: 11px;
    padding-right: 0;
}
.lightboxForm .select{
    width: 220px;
    margin-top: 0;
    padding-top: 0;
}
.lightboxForm sup{
    font-size: 18px;
    font-weight: normal;
    color: #F8463D;
    position: absolute;
    margin-top: -5px;
}
.lightboxForm .hintBlRight{
    width: 110px;
}
.lightboxForm .hintBlRight p{
    font-size: 11px;
    line-height: 15px;
    margin: 0px 0px 0px 10px;
}
.btn-fb {
    display: inline-block;
    *display: inline;
    padding: 0px 19px;
    margin-bottom: 0;
    *margin-left: .3em;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    *line-height: 24px;
    color: #fff;
    text-align: center;
    text-transform: none;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.90);
    vertical-align: middle;
    cursor: pointer;
    background-color: #2e4c8b;
    *background-color: #2e4c8b;
    background: rgb(59,89,152);
    background: -moz-linear-gradient(top,  rgba(59,89,152,1) 0%, rgba(33,63,126,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(59,89,152,1)), color-stop(100%,rgba(33,63,126,1)));
    background: -webkit-linear-gradient(top,  rgba(59,89,152,1) 0%,rgba(33,63,126,1) 100%);
    background: -o-linear-gradient(top,  rgba(59,89,152,1) 0%,rgba(33,63,126,1) 100%);
    background: -ms-linear-gradient(top,  rgba(59,89,152,1) 0%,rgba(33,63,126,1) 100%);
    background: linear-gradient(to bottom,  rgba(59,89,152,1) 0%,rgba(33,63,126,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b5998', endColorstr='#213f7e',GradientType=0 );
    
    background-repeat: repeat-x;
    border: 1px solid #cccccc;
    *border: 0;
    border-color: #133783 #0e2148 #0e2148;
    border-bottom-color: #0b1324;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    *zoom: 1;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn-fb span{
    position: relative;
    display: inline-block;
    border-left: 1px solid #133783;
    margin-left: 16px;
    padding: 10px 0px 10px 15px;
}

.btn-fb span:hover{
    color: white;
}

.btn-fb a span:hover{
    color: white;
}

.btn-fb span:before{
    content: "";
    position: absolute;
    width: 10px;
    height: 20px;
    top: 10px;
    left: -22px;
    background: transparent url('../images/ico_fb_button.png') no-repeat left top;
}