#Wrap {
    min-height:100%;
    margin-bottom: -360px;
    overflow: hidden;
    background: transparent url('../images/background-image.jpeg') repeat left top;
}
#Main {
	padding-bottom:400px;
	}
#Footer {
	position:relative;
	clear:both;
	}
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;
	}

#Footer {background:#333;}
    #Footer > .WidthPage.noBorder{
        border-top: 0px;
        box-shadow: none;
    }
    #Footer .grid_2 h4{
        color: #fff;
        margin-bottom: 12px;
        }
    #Footer .grid_2 ul{
        margin-bottom: 20px;
        }
	#fnav {float:left;}
		#fnav a {
			font-size:12px;
			line-height:50px;
			color:#C2C2C2;
			margin-left:6px;
			padding-left:14px;
			background:url(../images/bullet.png) no-repeat 0 7px;
			}
		#fnav a:first-child {
			margin-left:0;
			padding-left:0;
			background:none;
			}
		#fnav a:hover {
			color:#fff;
			}
	#copyright {
		color: #6f6e6c;
		font-size: 12px;
		margin-top: 16px;
		margin-left: 13px;
		float: left;
		}
		.copyBadge{
		    margin-left: -13px;
		}
	.PreplyUS {
		cursor: pointer;
		color: #fff;
		font-size: 12px;
		line-height: 60px;
		padding: 1px 0px 1px 30px;
		margin-left: 90px;		
		background:url('../images/icons.png') no-repeat 0 -3398px
	}
	.PreplyUS.underline span {
		border-bottom: 1px solid rgba(255,255,255,0.2);
	}
	.footerPayments{
	    margin: 20px 0px 0px 55px;
	}
	.shareWithFriends{
	    float: right;
	    width: 460px;
	}
	.shareWithFriends p{
	    color: #6f6e6c;
	    font-size: 12px;
	    float: left;
	    margin: 22px 0px 0px 0px;
	    padding-left: 17px;
	    background: transparent url('../images/icons.png') no-repeat 0px -2352px;
	}
	.shareWithFriends div{
	    float: left;
	    margin: 20px 0px 0px 20px;
	}
    .tradeMarkBl{
        background: transparent url('../images/cc.png') no-repeat left top;
    }
    .tradeMarkBl p{
        color: #5c5c5c;
        font-size: 13px;
        margin-left: 60px;
        padding-bottom: 10px;
    }
.overFooter:before {
	clear: both;
}		
.overFooter {
	background: #3d3d3c;
	font-size:13px;
	padding:8px 0 33px;
	}
	.overFooter h4 {
		font-size: 16px;
		color: #fff;
		text-transform: none;
	}
	.overFooter p {
		line-height:18px;
		margin:-5px 0 9px;
		}
	.overFooter li {
	    font-size: 13px;
	    line-height: 24px;
	    border: none;
		}
	.overFooter ul + a {
		color: #9e9e9e;
		display: block;
		margin-top: 20px;
	}
	.overFooter ul + a span {
		border-color: rgba(255,255,255,0.15);
	}
	.overFooter ul + a:hover {
		color: #f8463d;
	}
	.overFooter li:first-child {
		border-top:none;
	}
	.overFooter li a {
		float:left;
	}
	.overFooter li a span {
		border-bottom: 1px solid #354d4f;
	}
	.overFooter li a:hover span {
		border-bottom: 1px solid #823b37;
	}
	.footerPhone {
		background: url('../images/icons.png') no-repeat 0px -2956px;
		padding-left: 24px;
		color: #fff;
		font-size: 18px;
		margin-bottom: 20px;
	}
	.footerAdres {
		background: url('../images/icons.png') no-repeat -29px -3332px;
		padding-left: 24px;
		color: #9e9e9e;
		margin-bottom: 20px;
	}
	.footerMap {
		background: url('../images/icons.png') no-repeat 0px -3353px;
		padding-left: 24px;
		color: #fff;
		cursor: pointer;
	}
	.footerMap.underline span {
		border-bottom: 1px solid rgba(255,255,255,0.3);
	}
		.footerMap:hover {
		background-position: 0 -3372px;
	}
	.footerLogos {
		margin-top: 50px;
	}
	.footerLogos img {
		margin: 0 10px;
		opacity: 0.6;
		cursor: pointer;
	}
	.footerLogos img:hover {
		opacity: 1;
	}
	.footer_follow li {float: left; width: 19px; margin-right: 10px;}
	.footer_follow {margin-top: 10px;}
	.footer_follow a{
	    width: 0px;
	    height: 23px;
	    padding-left: 19px;
	    overflow: hidden;
	    }
	.follow_ln, .follow_tw, .follow_fb, .follow_tmbl {
		padding-left:26px;
		background-image:url(../images/icons.png);
		background-repeat:no-repeat;
		}
		.follow_ln {background-position:0 -163px;}
		.follow_tw {background-position:0 -194px;}
		.follow_fb {background-position:0 -225px;}
		.follow_tmbl {background-position:0 -256px;}
#footerInline #Main{
    padding-bottom: 51px;
    }
#footerInline #Footer{
    height: 51px;
    margin-top: -51px;
    }
#footerInline #copyright{
    line-height: 48px;
    margin-right: 40px;
    }
    

.badge {
    margin-top: 60px;
}
.badge img {
    float: left;
    margin-right: 10px;
}

.badge span {
    color: #999;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.footerLight{
    height: 64px;
}
.footerLightPage #Main{
    padding-bottom: 100px;
}
.footerLightPage #Wrap{
    margin-bottom: -64px;
}
